@page
@model lernApp.Pages.Customer.IndexModel
@{
    ViewData["Title"] = "Lern .NET";
}

<main>
    <section class="d-flex overflow-auto" id="main-root">
        <!--dashboard-->


        <!--customer-->
        <section>
            <section
                    class="d-flex full-height flex-column col-10 col-md-10 bg-body-secondary shadow-lg rounded-4 m-auto"
                    id="customer">
                <div class="container mt-1">

                    <div class="d-flex justify-content-lg-end">

                        <div class="row" style="width: 20vw">
                            <div class="col-12 col-md-4 mt-1">
                                <button id="getAllCustomer" class="btn btn-dark btn-sm" type="submit"
                                        style="height: 30px">Get All
                                </button>
                            </div>

                            <div class="col-12 col-md-8 mt-1">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal" style="height: 30px">
                                    + Add New
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row d-flex overflow-auto h-75 col-lg-10 col-12 m-auto">
                    <table class="table table-striped table-hover border mt-2 z-0" id="tblCustomer">
                        <thead class="table-bordered sticky-top overflow-auto table-info">
                        <tr>
                            <th scope="col">Customer ID</th>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Customer Address</th>
                            <th scope="col">Customer Salary</th>
                            <th scope="col">ON Action</th>
                        </tr>
                        </thead>

                        <tbody id="body">

                            @foreach(var item in Model.customers)
                            {
                                <tr class="bg-white">
                                    <td>@item.cusId</td>
                                    <td>@item.cusName</td>
                                    <td>@item.cusAddress</td>
                                    <td>@item.cusSalary</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal2" style="height: 30px">
                                            Update
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal2" style="height: 30px">
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

            </section>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <h1 class="modal-title fs-6 text-white" id="exampleModalLabel">Insert Customer</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <form method="POST">
                                    <div class="mb-3">
                                        <label class="form-label">ID</label>
                                        <input id="customer-id" type="text" name="cus-id" class="form-control" placeholder="">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Customer Name</label>
                                        <input id="customer-name" type="text" name="cus-name" class="form-control" placeholder="">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Customer address</label>
                                        <input id="customer-address" type="text" name="cus-address" class="form-control" placeholder="">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">Customer TP</label>
                                        <input id="customer-salary" type="text" name="cus-salary" class="form-control" placeholder="">
                                    </div>

                                    <button id="btnSaveCustomer" type="submit" class="btn btn-primary">Add Customer
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-secondary" href="/" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--update modal-->
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-success">
                            <h1 class="modal-title fs-6 text-white" id="exampleModalLabel2">Update Customer</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <form method="">
                                    <div class="mb-3">
                                        <label class="form-label" >ID</label>
                                        <input id="upCID" type="text" name="up-id" class="form-control" placeholder="">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" >Customer Name</label>
                                        <input id="upCName" name="up-name" type="text" class="form-control" placeholder="">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" >Customer address</label>
                                        <input id="upCAddress" name="up-address" type="text" class="form-control" placeholder="">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" >Customer TP</label>
                                        <input id="upCTp" type="text" name="up-salary" class="form-control" placeholder="">
                                    </div>

                                    <button id="btnUpdate" type="button" class="btn btn-primary" data-bs-dismiss="modal">Update Customer</button>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <!--order-->


        <!--item-->


        <!--order detail-->


    </section>
</main>


